import os
basedir = os.path.abspath(os.path.dirname(__file__))


class Config():
    SECRET_KEY = os.environ.get('SECRET_KEY') or 'you-will-never-guess'
    
    SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'awesomeapp.db')
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    
    IMAGE_PATH = 'static/images'
    STATIC_FOLDER = 'static'
    GLOBAL_IMAGE_PATH = os.path.join(basedir, 'awesomeapp', 'static', 'images')
