{% extends "user/user_base.html" %}
{% block content %}
  <div class="row align-items-center login_content">
    <div class="col-sm"></div>
    <div class="col-sm-3">
      <form action='' method='post' novalidate class="form-signin">
        {{ form.hidden_tag() }}
        <p class="h3 mb-3 font-weight-normal">{{ title }}

        <div class="form-group">
          <span class="sr-only">{{ form.email.label }}</span>  
          {{ form.email }}
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
          <span class="sr-only">{{ form.password.label }}</span> 
          {{ form.password }}
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
          {{ form.remember_me }} {{ form.remember_me.label}}
        </div>
        <p>{{ form.submit }}</p>
      </form>
    </div>
    <div class="col-sm"></div>
  </div>
{% endblock %}