{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <form class="form-signin" action="" method="post" novalidate enctype="multipart/form-data">
        <br>
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1><br>

        <span class="sr-only">{{ form.first_name.label }}</span>
        {{ form.first_name }}

        <span class="sr-only">{{ form.second_name.label }}</span>
        {{ form.second_name }}

        <span class="sr-only">{{ form.email.label }}</span>
        {{ form.email }}
        {% for error in form.email.errors %}
        <span>{{ error }}</span>
        {% endfor %}

        <span class="sr-only">{{ form.password.label }}</span>
        {{ form.password }}
        <span class="sr-only">{{ form.password2.label }}</span>
        {{ form.password2 }}<br>
        {% for error in form.password2.errors %}
        <span>Пароли должны совпадать</span>
        {% endfor %}

        <span class="sr-only">{{ form.about_me.label }}</span>
        {{ form.about_me }}<br>

        <p>{{ form.avatar.label }}
        {{ form.avatar}}<br>
            
        <p>{{ form.submit }}
      </form>
    </div>
    <div class="col"></div>
  </div>
  </div>
{% endblock %}