{% extends "user/user_base.html" %}
{% block content %}
    <div class="row align-items-center visit_text">
        <div class="col-sm">
            <h1 class="text-center">Привет, Спортсмен!</h1>
            <h2 class="text-center">Наш сайт создан специально для тебя!</h2> 
            <h5 class="text-center">Скорее регистрируйся и открывай для себя новый мир цифр спорта!</h5>
            <ul>
                <li class="text-center">подробная статистика для каждой тренировки</li>
                <li class="text-center">несколько видов спорта на выбор</li>
            </ul>
            <h3 class="text-center">Всё это ждёт тебя на нашем клёвом сайте!</h3>
        </div>
    </div>
    <div class="row align-items-center visit_pic">
        <div class="col-sm my_pic">
            {% for pic in src %}
                <img src="/{{ pic }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}