{% extends "user/user_base.html" %}
{% block content %}
    <br>
    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <img src="/{{ src[0] }}">
        </div>
    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <img src="/{{ src[1] }}">
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h1 class="text-left">Привет, Спортсмен!</h1>
        </div>
        <div class="col-3">
            <img src="/{{ src[2] }}">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h2 class="text-left">Наш сайт создан специально для тебя!</h2>            
        </div>
        <div class="col-2">
            <img src="/{{ src[3] }}">
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <h5 class="text-left">Скорее регистрируйся и открывай для себя новый мир цифр спорта!</h5>
            <h5 class="text-left">подробная статистика для каждой тренеровки</h5>
            <h5 class="text-left">несколько видов спорта на выбор</h5>
        </div>
        <div class="col-3">
            <img src="/{{ src[4] }}">
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h3 class="text-left">Всё это ждёт тебя на нашем клёвом сайте!</h3>
        </div>
        <div class="col-4">
            <img src="/{{ src[5] }}">
        </div>
    </div>
    <div class="row">
        <div class="col-7"></div>
        <div class="col-5">
            <img src="/{{ src[6] }}">
        </div>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <img src="/{{ src[7] }}">
        </div>
    </div>
    <br>
{% endblock %}