{% extends "index.html" %}
{% block content %}
    <div class="row align-items-center eqipmnent_content">
        <div class="col-sm"></div>
        <div class="col-sm-6">
            <form  action="" method="post" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p class="h3 mb-3 font-weight-normal">{{ title }}

                <div class="form-group">
                    <span class="sr-only">{{ form.name.label }}</span>
                    {{ form.name }}
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}

                    <span class="sr-only">{{ form.type.label }}</span>
                    {{ form.type }}

                    <p>{{ form.avatar.label() }}
                    {{ form.avatar}}
                    

                    <span class="sr-only">{{ form.about.label }}</span>
                    {{ form.about }}
                
                    <p>{{ form.submit }}
                </div>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
{% endblock %}
