{% extends "index/index.html" %}
{% block content %}
        <form  action="" method="post" novalidate enctype="multipart/form-data">
            <div class ='container'>
                <br>
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 font-weight-normal">{{ title }}</h1><br>

                <div class="form-group">
                    {{ form.name.label }}<br>
                    {{ form.name }}<br>
                    {% for error in form.name.errors %}
                    {{ error }}
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.type.label }}
                    {{ form.type }}
                </div>

                
                <div class="custom-file">
                    {{ form.avatar}}
                    {{ form.avatar.label(class_="custom-file-label") }}
                </div>
                <br>

                <div class="form-group">
                    {{ form.about.label }}
                    {{ form.about }}
                </div>
                
                <p>{{ form.submit }}
            </div>
        </form>
        {% endblock %}