.container-fluid {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

.row-first {
    height:30%;
    overflow: hidden;
    border: 2px solid black;
  }

.row{
    margin-left: 0;
    margin-right: 0;
}
