/* base style */
p {
  margin-bottom: 1vh;
}

footer {
  background-color: rgb(21, 122, 95);
  color: lightslategray;
}

nav {
  /*background-color: rgb(23, 163, 126);*/
  background-color: rgb(21, 122, 95);
}

.btn {
  background-color: rgb(23, 163, 126);
  border-color:  rgb(23, 163, 126);
}

.btn:hover,
.btn:active,
.btn.btn:active:focus {
  background-color: rgb(21, 122, 95);
  border-color:  rgb(21, 122, 95);
}

/* unlog user page */

.visit_text {
  height: 57.8vh;
}

.visit_pic {
  height: 29.3vh;
}

.login_content {
  height: 87.1vh;
}

.regist_content {
  height: 87.1vh;
}

/* login user page */

.equipmnent_content {
  height: 72.3vh;
}

.statistics_content {
  height: 72.3vh;
}

.menu_content {
  height: 37vh;
}

.menu_button {
  height: 35.3vh;
}

.stats_view_date {
  height: 5vh;
}

.stats_view_story {
  height: 9.6vh;
}

.stats_view_content {
  height: 56.7vh;
}

.user{
  height: 42vh;
  margin-top: 2vh;
}

.equipment-carousel{
  margin-top: 2vh;
}

.sport-zone{
  margin-top: 2vh;
  height: 41.1vh;
}

.view-zone{
  margin-top: 2vh;
}

.index_avatar { 
  margin: auto;
  display: inline-block;
  height: auto;
  max-width: 100%;
  max-height: 30vh;
  width: auto;
}

.equipment_pic {
  height: 10vh;
  width: 10vw;
}
.equipment_plus {
  margin-top: 1em;
  width: 7vh;
  height: 7vh;
}

.carousel_image {
  height: 45vh;
  margin: auto;
}

.small_text {
  color: gray;
  text-align: left;
}

.stats_text {
  margin: 0;
  font-size: 2vh;
}

.error {
  color: red;
  font: 90% Verdana;
}

/*WTF*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.axis .x text {
  font: 75% Verdana;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
