/* base style */

footer {
  background-color: rgb(21, 122, 95);
  color: lightslategray;
}

nav {
  /*background-color: rgb(23, 163, 126);*/
  background-color: rgb(21, 122, 95);
}

.btn {
  background-color: rgb(23, 163, 126);
  border-color:  rgb(23, 163, 126);
}

.btn:hover {
  background-color: rgb(21, 122, 95);
  border-color:  rgb(21, 122, 95);
}

.btn:active {
  background-color: rgb(21, 122, 95);
  border-color:  rgb(21, 122, 95);
}

/* unlog user page */
.visit_text {
  height: 60vh;
}

.visit_pic {
  height: 29.3vh;
}

.login_content {
  height: 89.3vh;
}

.regist_content {
  height: 89.3vh;
}
.stats_view_content {
  height: 71.3vh;
}
/*not my style*/

.equipmnent_content {
  height: 67.7vh;
}

.statistics_content {
  height: 67.7vh;
}

.user{
  height: 42vh;
  margin-top: 2vh;

}

.equipment-carousel{
  margin-top: 2vh;

}

.sport-zone{
  margin-top: 2vh;
  height: 42vh;

}

.view-zone{
  margin-top: 2vh;
}

.index_avatar{
  height: auto;
  max-height: 80%;
  max-width: auto;
  width: 19vw;
}

.equipment_pic {
  height: 10vh;
  width: 10vw;
}
.equipment_plus {
  margin-top: 1em;
}

/*WTF*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}