{% extends "index.html" %}

{% block content %}
<a href="{{ url_for('statistics.add', id=equipment_by_id.id) }}">add stat</a>
<form action="{{ url_for('statistics.view', id=equipment_by_id.id) }}" method="post" novalidate>
    <div class='container'>
        <br>
        {{ form.hidden_tag() }}
        <p>{{ form.datefrom.label }}
            {{ form.datefrom }}
        </p>
        <p>{{ form.dateto.label }}
            {{ form.dateto }}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </div>
</form>
<a href="{{ url_for('statistics.delet', id=equipment_by_id.id) }}">Удали меня</a>
{% endblock %}