{% extends "index.html" %}

{% block content %}
    <div class="row align-items-center menu_content">
        <div class="col-sm"></div>
        <div class="col-sm-6">

            <form action="{{ url_for('statistics.view', equipment_id=equipment_by_id.id) }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <p class="h6">Выберите промежуток времени для общей статистики или дату для детальной статистики по заданному дню
                    <div class="form-group col-md-6">
                         <span class="sr-only">{{ form.start_date.label }}</span>
                        {{ form.start_date }}</p>
                        {% for error in form.start_date.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group col-md-6">
                         <span class="sr-only">{{ form.end_date.label }}</span>
                        {{ form.end_date }}</p>
                        {% for error in form.end_date.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <p>{{ form.submit }}</p>
            </form>

        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row align-items-center menu_button">
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <a 
                href="{{ url_for('statistics.add', equipment_id=equipment_by_id.id) }}"
                class="btn btn-lg btn-primary btn-block"
                role="button">
                    Добавить данные
            </a>
        </div>
        <div class="col-sm-3">
            <a 
                href="{{ url_for('statistics.delete_equipment', equipment_id=equipment_by_id.id) }}" 
                onclick="return confirm('Вы уверены?')" 
                class="btn btn-lg btn-primary btn-block" 
                role="button">
                    Удалить инвентарь
            </a>
        </div>
        <div class="col-sm"></div>
    </div>

{% endblock %}
