{% extends "index.html" %}

{% block content %}

{% if datefrom == dateto %}:
    <h3>{{ datefrom }}</h3>
{% else %}
    <h3>C {{ datefrom }} по {{ dateto }}:</h1>
{% endif %}

<p>{{ distance }} - км. вы преодолели</p>
<p>{{ time }} - время упражнения</p>
<p>{{ total_time }} - общее время тренировки</p>
<p>{{ steps }} - шагов вы протоптали</p>
<p>{{ max_speed }} - максимальная скорость</p>
<p>{{ max_cadence }} - максимальный каденс</p>
<p>{{ max_heart_rate }} - максимальный пульс</p>
<p>{{ avg_cadence }} - средний каденс</p>
<p>{{ avg_heart_rate }} - средний пульс</p>

{% endblock %}