{% extends "index.html" %}
{% block content %}
    <div class="row align-items-center statistics_content">
        <form class="form-signin" action="" method="post" novalidate enctype="multipart/form-data">
            <div class ='container'>
                {{ form.hidden_tag() }}
                <p class="h3 mb-3 font-weight-normal">{{ title }}</p>
                
                {% for name, group_field in fields.items() %}
                    
                    {{ name }}
                    <div class="form-row">
                    {% for field in group_field %}
                        <span class="sr-only">{{ field.label }}</span>
                        
                        <div class="col">{{ field }}</div>
                        
                        {% for error in field.errors  %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endfor %}

                {{ form.story.label }}
                {{ form.story }}

                {{ form.photo.label }}
                {{ form.photo }}

                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}
