{% extends "index.html" %}

{% block content %}

<div class="row align-items-center stats_view_date">
    <div class="col-sm">
        {% if start_date  == end_date %}
            <p class="text-center h5 font-weight-normal">{{ start_date  }}
        {% else %}
            <p class="text-center h5 font-weight-normal">C {{ start_date  }} по {{ end_date }}:
        {% endif %}
    </div>
</div>
<div class="row align-items-center stats_view_content">
    <div class="col-sm-9" >
        {% if start_date  == end_date %}
            {% include('/statistics/carousel.html') %}
        {% else %}
            <div id="my_histogram"></div>
        {% endif %}
    </div>
    <div class="col-sm-3">
        <p class="small_text">Результаты:
        {% for label, value in statistics.items() %}
            {% if value != 0 %}
            <p>{{ label }}: {{ value }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row align-items-center stats_view_story">
    <div class="col-sm">
        {% if start_date  == end_date %}
            {% if story_and_images.story != None %}
                <p class="small_text">О тренеровке:
                <p>{{ story_and_images.story }}
            {% endif %}
        {% endif %}
    </div>
</div>

{% include('/statistics/histogram.html') %}

{% endblock %}
