<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index_style.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <title>{{ title }}</title>
  </head>
  <body class="text-center">

    {% include('menu.html') %}
    <div class="container-fluid">


    <div class="user">
      <p><img class="ava" src="/{{ current_user.avatar }}" alt=""></p>
      <p>Имя - {{ current_user.first_name }}, Фамилия - {{ current_user.second_name }}</p>
      <p>{{ current_user.about_me }}</p>
    </div>

    <div class='equipment-carousel'>

      <div class="owl-carousel owl-theme">
        <img src="/static/images/add.png" alt="">
        {% for equip in equips %}
           <a href="{{ url_for('statistics.add', id=equip.id) }}"><img src="/{{ equip.avatar }}" alt="{{ equip.id }}"></a>
          <!-- {{ equip.avatar }} -->
        {% endfor %}
      </div>

    </div>

    <div class='sport-zone'>
      {% if equip %}
        <img src="/{{ equip.avatar }}" alt="">
        {{ equip.name }}
        {{ equip.about }}
      {% else %}
        <img src="/{{ last_equip.avatar }}" alt="">
        {{ last_equip.name }}
        {{ last_equip.about }}
      {% endif %}
    </div>

    <div class="view-zone">
      {% block content %}
      {% endblock %}
    </div>


  </div>
 

    {% include('footer.html') %}
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
          loop:true,
          margin:10,
          responsiveClass:true,
          responsive:{
              0:{
                  items:1,
                  nav:true
              },
              600:{
                  items:3,
                  nav:false
              },
              1000:{
                  items:5,
                  nav:true,
                  loop:false
              }
          }
      })
    </script>
  </body>
</html>
